<div fxFlexFill fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="10px">
  <mat-card>
      <mat-card-content>
        <app-bookmark-form #bookmarkForm></app-bookmark-form>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="space-between">
          <button [disabled]="!(bookmarks$ | async)?.length" mat-raised-button (click)="clearBookmarks(); bookmarkForm.formGroup.reset()" color="warn">Clear All</button>
          <button [disabled]="bookmarkForm.formGroup.invalid" mat-raised-button (click)="addBookmark(); bookmarkForm.formGroup.reset()" color="primary">Add</button>
      </mat-card-actions>
  </mat-card>
  <app-bookmarks-table [bookmarks]="bookmarks$ | async"></app-bookmarks-table>
</div>
