<div fxFlexFill fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="10px">
  <mat-card>
      <mat-card-content>
          [form]
      </mat-card-content>
      <mat-card-actions align="start">
          <button mat-raised-button (click)="addContact()" color="primary">Action1</button>

      </mat-card-actions>
  </mat-card>
  <mat-card *ngFor="let contact of constacts$ | async">
    <mat-card-content>
        {{contact}}
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-raised-button color="primary">Action1</button>

    </mat-card-actions>
  </mat-card>
</div>
